<div class="up-vote">
  <i class="fa fa-caret-up"></i>
  <i class="fa fa-caret-down"></i>
</div>
<div class="user-comment">
  <div class="info">
    <span class="username"> <%= username %> </span>
    <div class="tools">
      <span class="upvotes"><%= voteCount %></span> <span class="upvote-toggle">upvotes</span> - <span class="reply">Reply</span> <% if (canDelete) { %>- <span class="mute-delete"></span><% } %></div>
  </div>
  <div class="comment-text"><%= message_marked %></div>
</div>
<div class="clearfix"></div>
<div class="nested-comments">
  <div class="replies-region"></div>
  <div class="replybox-region"></div>
</div>
<div class="clearfix"></div>
