<div class="row">
  <div class="col-sm-12 col-sm-offset-<%=depth%>">
    <div class="up-vote" style="background:red">< ></div>
    <div class="comment">
      <p class="info">
      <span class="username"> <%= username %> </span>
      <span class="upvotes"> <%= upvotes %> upvote(s) </span>
      <a class="reply"> Reply </a>
      <a class="report"> Report </a>
      <a class="permalink"> Permalink </a>
      </p>
      <%= body %>
    </div>
  </div>
</div>
