<form class="form-horizontal" role="form">
<div class="row">
  <div class="col-md-12">
    <h3>Comments</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <textarea class="form-control" rows="5"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <div class="form-group pull-right">
      Markdown formatting - <button class="btn btn-default">ADD COMMENT</button>
    </div>
  </div>
</div>
