<div class="form-vertical" role="form">
  <div class="form-group">
    <textarea class="form-control" rows="2"></textarea>
  </div>
  <div class="form-group pull-right">
    Markdown formatting - <% if (cancelButton) { %><button class="btn btn-default btn-xs" data-action="cancel">CANCEL</button><% } %><button class="btn btn-default btn-xs" data-action="comment">ADD COMMENT</button>
  </div>
  <div class="clearfix"></div>
</div>
