<div class="comment" style="border-left:1px dotted #aaa; margin-left:40px">
  <div class="" style="margin-left:5px">
    <div class="up-vote" style="display:inline-block;width:10px;vertical-align:top">
      <i class="fa fa-sort-up" style="cursor:pointer"></i>
    </div>
    <div class="user-comment" style="display:inline-block">
      <p class="info" style="margin-bottom:0">
      <span class="username"> <%= username %> </span>
      <span class="upvotes"> <%= upvotes %> upvote(s) </span>
      <a class="reply"> Reply </a>
      <a class="report"> Report </a>
      <a class="permalink"> Permalink </a>
      </p>
      <div class="comment-text" style="max-width:40em">
        <p>
          <%= message %>
        </p>
      </div>
    </div>
  </div>
</div>
