<div class="">
  <h3>Add Event!</h3>
  <form class="well" >
      <div class="form-group well">
        <label class="col-lg-3" for="name">1. Name of event</label>
        <input type="text" name="name" id="name"></input>
        <!-- TODO: 80 char limit -->
      </div>
      <div class="form-group well">
        <label class="col-lg-3" for="location">2. Location</label>
        <label>
          <input type="radio" name="location_type" id="" value="international" checked>
          This event can be experienced by an <b>international</b> audience.
        </label>
        <label class="col-offset-3">
          <input type="radio" name="location_type" id="" value="national" >
          This event can be experienced in a <b>specific country</b>. 
        </label>
        <select class="col-offset-3" name="country"></select>
        <!-- TODO: disableable -->
      </div>
      <div class="form-group well">
        <label class="col-lg-3" for="location">3. Date and Time</label>
        Select: <input type="datetime-local" name="datetime" id="" value="" >
      </div>
      <button class="pull-right btn btn-success">Save</button>
      <div class="clearfix"></div>
  </form>
</div>
