<h3><% if (isToday()) { %>Today, <% } %><%= date.format('D MMMM, YYYY - dddd') %></h3>
<div class="events">
</div>
<div class="button-container">
  <button class='btn btn-more'>Show More</button>
</div>
