<div class='upvote-container pull-left'></div>
<div class='image-container pull-left'>
  <img src='<%=thumbUrl%>' />
</div>
<div class='meta-container pull-left'>
  <a class='event-name'><%=name%></a><br />
  <span class='event-meta'>Added by <%=user%></span>
</div>
<div class='clearfix'></div>
