<div class="up-arrow"></div>
<div class="event-reminders-container">
  <% if (loggedIn()) { %>
    <span>Email Reminders:</span>
    <div class="checkbox-container">
      <div class="checkbox">
        <label>
          <input type="checkbox" data-time="15m"/> 15 min. before
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-time="1h"/> 1 hr. before
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-time="4h"/> 4 hr. before
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-time="1d"/> 1 day before
        </label>
      </div>
    </div>
    <button data-action="set-reminder" class="btn btn-xs pull-right highlight">Set Reminder</button><button data-action="cancel" class="btn btn-xs pull-left">Cancel</button>
    <div class="clearfix"></div>
    <% } else { %>
    <div style="text-align:center">
      <label>Log in to set an email reminder for this event</label>
    </div>
    <% } %>
</div>
