<div class="pull-left">
  <img src="<%=mediumUrl%>" />
</div>
<div class="pull-left">
  <div class="event-heading-container">
    <span class="event-title"><%=name%></span>
    <span class="event-time-location">()</span></div>
  <div class="event-description-container">
    <span class="event-description"><%=description%></span>
    <span class="event-submitter"><%=user%></span>
  </div>
  <div class="event-tools-container">
    <span class="event-upvotes"></span>
    <span class="event-tool" data-action="report">Report</span>
    <span class="event-tool" data-action="set-reminder">Set Reminder</span>
    <span class="event-tool" data-action="edit">(Edit my event)</span>
  </div>
  <div class="event-likes-container"></div>
</div>
