<div class="row-fluid">
  <div class="span2">
    <img src="/images/placeholder.png" />
  </div>
  <div class="span10">
    <a href="">
      <%= title %>
    </a>
    <div>
      <small> added by <%= user %></small>
    </div>
  </div>
</div>
