<div class="checkbox">
  <label>
    <input type="checkbox" data-time="15m"/> 15 minutes before it starts
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" data-time="1h"/> 1 hour before it starts
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" data-time="6h"/> 6 hours before it starts
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" data-time="24h"/> 24 hours before it starts
  </label>
</div>
<button class="btn btn-xs pull-right">Set Email Reminder</button>
<div class="clearfix"></div>
