<div class="row-fluid">
  <div class="span2">
    <img src="/images/placeholder.png" />
  </div>
  <div class="span10">
    <a href="">
      <%= name %>
    </a>
    <div>
      <small> added by <%= user %></small> <a href="#" class="delete">x</a> <br/>
      <% if(datetime != undefined) { %>
      datetime: <%= moment(datetime).calendar() %> <br/>
      <% } %>
      <% if(country != undefined) { %>
      country: <%= country %>
      <% } %>
    </div>
  </div>
</div>
