<div class="pull-left">
  <img src="<%=mediumUrl%>" />
</div>
<div class="pull-left">
  <div class="event-heading-container"><%=name%></div>
  <div class="event-description-container"></div>
  <div class="event-tools-container"></div>
  <div class="event-likes-container"></div>
</div>
