<h4><% if (isToday()) { %>Today, <% } %><%= date.format('MMMM D, YYYY') %></h4>
<div class="events">
</div>
<div class="button-container">
  <button class='btn btn-xs'>Show More <i class="icon-caret-down"></i></button>
</div>
