<div class="form-row">
  <span>Paste a URL here and we'll upload it for you:</span>
</div>
<div class="form-row">
  <input type="text" class="url-input" />
</div>
<div class="form-row">
  <span class="form-guide">or</span><button class="btn">Upload</button>
</div>
<input type="file" />
