<div class="body">
  <div class="image-container">
    <div class="image-trim"></div>
    <img/>
  </div>
  <div class="slider-container">
    <div class="slider-icon-container"><i class="icon-resize-small"></i></div>
    <div class="slider-track">
      <div class="slider"></div>
    </div>
    <div class="slider-icon-container"><i class="icon-resize-full"></i></div>
  </div>
</div>
