<div class="image-trimmer">
  <div class="header">
    <div class="title">Position and size your photo</div>
    <div class="close-box btn btn-mini">&times;</div>
    <div class="clearfix"></div>
  </div>
  <div class="body">
    <div class="image-container">
      <div class="overlay-layer"></div>
      <div class="image-trim"></div>
      <div class="image-display"></div>
    </div>
    <div class="slider-container">
      <div class="slider-icon-container"><i class="icon-resize-small"></i></div>
      <div class="slider-track">
        <div class="slider"></div>
      </div>
      <div class="slider-icon-container"><i class="icon-resize-full"></i></div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-small btn-primary pull-right">Apply</button>
    <button class="btn btn-small pull-right">Cancel</button>
    <div class="clearfix"></div>
  </div>
</div>
