<div class="image_trimmer_choose_toolbar">
  <div class="form-group" style="border: none;">
  <span class="glyphicon glyphicon-link "> </span>
    <input type="text" class="form-control url-input" placeholder="Paste URL here" />
  </div>
  <span class="or"> or </span>
  <button class="btn">Upload</button>
  <input type="file" />
</div>
