<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  <div class="container-fluid">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="../" class="navbar-brand">Forekast</a>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= FK.Uri('events/all') ? "active" : "" %>">
          <a class="" href="#/events/all">All Events</a>
        </li>
        <li class="<%= FK.Uri('events/new') ? "active" : "" %>">
          <a class="" href="#/events/new">New Event</a>
        </li>
      </ul>
    </div>
  </div>
</div>
