<div class="navbar-header">
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="../" class="navbar-brand">Forekast</a>
</div>
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <% if(username) { %>
      <li data-option="new">
        <a href="#/events/new">Add Event</a>
      </li>
    <% } %>
    <li data-option="country">
      <a>Country <i class="icon-caret-down"></i></a>
    </li>
    <li data-option="subkast">
      <a><span class="subkast-title"></span> <i class="icon-caret-down"></i></a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if(username) { %>
      <li>
        <a href="/users/edit"><%= username %></a> 
      </li>
      <li>
        <a href="<%= FK.Links.logout %>">logout</a>
      </li>
    <% } else { %>
      <li>
        <a href="<%= FK.Links.login %>">login</a>
      </li>
      <li>
        <a href="<%= FK.Links.register %>">register</a>
      </li>
    <% } %>
  </ul>
</div>
