<div class="navbar-header">
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="/" class="logo">

  </a>
</div>

<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li class="tagline hidden-xs">
        The Best Upcoming Global Events
    </li>
    <li class="what-is-global hidden-xs">
      <a href="#">What is a global event?</a>
    </li>
    <li data-option="new">
      <a class="btn add-new btn-default">+ Add Event</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if (username) { %>
      <li>
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= username %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users/edit">Profile Settings</a></li>
            <li><a href="<%= FK.Links.logout %>">Logout</a></li>
          </ul>
      </li>
    <% } else { %>
      <li><a href="<%= FK.Links.register %>" class="btn btn-focus" href="">Join the community</a></li>
      <li><a href="<%= FK.Links.login %>" class="btn btn-alt">Log in</a></li>
    <% } %>
  </ul>
  <div id="mobile-sidebar"></div>
</div>
