<div id="subkast-filter" ></div>
<h5>Get event alerts!</h5>
<div id="sidebar-social" >
 <ul>
  <li><a href="https://twitter.com/theforekast" target="_blank" ><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://www.facebook.com/TheForekast" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="http://blog.forekast.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
  <li><a href="https://plus.google.com/+Forekast" target="_blank"><i class="fa fa-google-plus"></i></a></li>
 </ul>
</div>
<div id="country-filter" ></div>
<div id="sidebar-event-list" class="sidebar-element"></div>
