<div class="current-view">
  <div class="sidebar-element">
    <h5>You are viewing events for</h5>
    <select name="country">
      <option>United States</option>
      <option>Canada</option>
      <option>Andorra</option>
      <option>Albania</option>
    </select>
    <div class="clearfix"></div>
  </div>
  <div class="sidebar-element">
    <h5>in the following subkasts:</h5>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Science
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Technology
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Music
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Gaming
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Education
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Movies
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">TV
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Sports
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">How About We
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Arts
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Holidays
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Product Releases
      </label>
    </div>  
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">Other
      </label>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="sidebar-element">
  <h5>Top Events of the Next 7 Days</h5>
  <ul></ul>
</div>