<h3 style="margin-top: 100px;">Privacy Policy</h3>
<p>
The following Privacy Policy summarizes the various ways that www.forekast.com ("Service", "we", “us”, or "our") treats the information you provide while using the Service.  It is our goal to bring you information that is tailored to your individual needs and, at the same time, protect your privacy.
</p><p>
Your use of and/or registration on any aspect of the Service will constitute your agreement to this Privacy Policy. If you cannot agree with the terms and conditions of this Privacy Policy, please do not use the Website. This Privacy Policy does not cover information collected elsewhere, including without limitation offline and on sites linked to from the Service.
</p><p>
This Privacy Policy may be modified from time to time; the date of the most recent revisions will appear on this page, so check back often. Continued access of the Website by you will constitute your acceptance of any changes or revisions to the Privacy Policy.
</p>

<h3>The Type of Information the Service Collects</h3>
<p>
The Website generally collects personally identifying information with your specific knowledge and consent.
</p><p>
Our servers may also automatically collect information about your computer when you visit the Website, including without limitation the type of browser software you use, the operating system you are running, the website that referred you, and your Internet Protocol ("IP") address. Your IP address is usually associated with the place from which you enter the Internet, like your Internet Service Provider, your company or your university.
</p>
<h3>How the Service Uses Information Provided by You</h3>
<p>
We use your user name and password to grant you access to and use of the Service. Your e-mail address will be used, at your request, to send you a copy of your user name and password. If you provide personally identifiable information, it will be used to provide you with the service you have requested. We may also use the information to communicate with you about new features, products or services, and/or to improve the services that we offer by tailoring them to your needs.
</p><p>
We may also allow access to our database by third parties that provide us with services, but only for the purpose of and to the extent necessary to provide those services. We may also provide access to our database in order to cooperate with official investigations or legal proceedings, including, for example, in response to subpoenas, search warrants, court orders, or other legal process.
</p><p>
In addition, we reserve the right to use the information we collect about your computer, which may at times be able to identify you, for any lawful business purpose, including without limitation to help diagnose problems with our servers, to gather broad demographic information, and to otherwise administer our Website.
</p><p>
While your personally identifying information is protected as outlined above, we reserve the right to use, transfer, sell, and share aggregated, anonymous data about our users as a group for any business purpose, such as analyzing usage trends and seeking compatible advertisers and partners.
</p><p>
In addition, as our business changes, we may buy or sell various assets. In the event all or a portion of the assets owned or controlled by the Service, its parent or any subsidiary or affiliated entity are sold, assigned, transferred or acquired by another company, the information from and/or about our Service users may be among the transferred assets.
</p>

<h3>Cookies</h3>
<p>
You may have read about "cookies," nuggets of information that are placed by a Website in a storage place on your own computer. We may use cookies to control the display of ads, to track usage patterns on the site, to deliver editorial content, and to record registration and personalization information. For example, if you register on any part of the Website and are given the option to save your user name and password on your computer, we can provide this convenience to you by placing a cookie on your computer. Our cookies may contain personally identifiable information and such cookies may be shared with our affiliates and other companies.
</p><p>
If you don't want any cookies, your Web browser likely includes an option that allows you to not accept them. However, if you set your browser to refuse cookies, some portions of the Website may not function properly.
</p>

<h3>Information Security and Notification</h3>
Because no data transmission over the Internet is completely secure, and no system of physical or electronic security is impenetrable, We cannot guarantee the security of the information you send to us or the security of our servers or databases, and by using the Service you agree to assume all risk in connection with the information sent to us or collected by us when you use the Website. In the unlikely event that we believe that the security of your information in our possession or control may have been compromised, we may seek to notify you. If notification is appropriate, we may notify you by e-mail (provided we have your e-mail address).

<h3>Kids and Parents</h3>
<p>
This Website is not intended for use by children, especially those under age 13. No one under age 13 is allowed to provide any personal information or use our public discussion areas, forums and chats. Minors between the ages of 13 and 17 must get the permission of their parent(s) or legal guardian(s) before using this site.
</p><p>
If your children disclose information about themselves in publicly accessible areas of the Service, they may get unsolicited messages from other parties. Accordingly, you should tell them not to do so.
</p>
<script type="text/javascript">
$(window).on("scroll", function() {
  var scroll = $(this).scrollTop()
  var navbar = $('.navbar-title')
  if (scroll > 100)
    navbar.fadeIn(300, function() {
      navbar.html('forekast privacy policy')
    })
  else
    navbar.fadeOut(300)
});
</script>
