<h2>Plain English Terms of Use</h2>

<p>This is a plain English summary of our Terms of Use Agreement, however it is by no means a substitute for reading and understanding the real thing!</p>

<p>By using Forekast in any way, you promise that you actually can agree to our Terms of Use Agreement and are old enough to get into a PG-13 movie without having to sneak in.</p>

<p>Basically, you agree:</p>
  <ul>
    <li>To not break the rules of the actual Terms of Use.</li>
    <li>To not post bad stuff (illegal, private, confidential, offensive, deceptive, derogatory, etc.).</li>
    <li>Not to post images or content that belongs to someone else without their consent.</li>
    <li>To be responsible for everything you do.</li>
    <li>That we are not responsible for anything you do.</li>
    <li>To assume responsibility if we’re sued because of something you did.</li>
    <li>To not break the law somehow.</li>
    <li>To not SPAM.</li>
    <li>To not hack into Forekast and rearrange all the furniture.</li>
    <li>To not try to get or use other Forekast user accounts.</li>
    <li>That you own everything you post, but give license to Forekast to use it however it wants.</li>
    <li>That we can change our Terms anytime.</li>
    <li>That we can view, edit, or delete your account or content for violating our Terms.</li>
  </ul>

<p>If you see anything on our site that shouldn't be there because it violates our policies or for any other reason, please let us know by emailing us at hello@forekast.com</p>

<p>Thanks everyone!</p>
<p>Forekast team</p>

<hr/>

<h2>Terms of Use</h2>

<p>The following Terms of Use Agreement ("Agreement") governs your access to and use of www.forekast.com (“Website”), including without limitation participation in its discussion boards, and all other areas as provided by Forekast, Inc ("we", "us", or "our").  Your access to and use of the Website is conditioned on your acceptance of and compliance with this Agreement. By accessing or using the Website you agree to be bound by this Agreement.</p>

<p>The Agreement may be modified from time to time; the date of the most recent revisions will appear on this page, so check back often.  Continued access of the Website by you will constitute your acceptance of any changes or revisions to the Agreement.  If any change to this Agreement is not acceptable to you, your sole remedy is to cease accessing, browsing and otherwise using the Website.</p>

<h2>Monitoring</h2>

<p>We strive to provide an enjoyable online experience for our users, so we may monitor activity on the Website to foster compliance with this Agreement.  All users of the Website hereby specifically agree to such monitoring. Nevertheless, we do not make any warranties or guarantees that: (1) the Website, or any portion thereof, will be monitored for accuracy or unacceptable use, (2) apparent statements of fact will be authenticated, or (3) we will take any specific action (or any action at all) in the event of a dispute regarding compliance or non-compliance with this Agreement.</p>

<h2>Registration and Account Creation</h2>

<h3>Registration</h3>

<p>We may at times require that you register and/or set up an account to use certain portions of the Website as a whole. In order to do so, you may be provided, or required to choose, a password, user name, and/or other registration information (collectively, "Registration Information"). You agree and represent that all Registration Information provided by you is accurate and up-to-date. If any of your Registration Information changes, you must update it by using the appropriate update mechanism on the Website, if available. Otherwise, contact us at hello@forekast.com.</p>

<h3>Use of User ID/Password</h3>

<p>If you register and/or set up an account on the Website, you will be solely responsible for maintaining the confidentiality of your Registration Information. You may not authorize others to use your Registration Information. You may not sub-license, transfer, sell or assign your Registration Information and/or this Agreement to any third party without our written approval. Any attempt to do so will be null and void and shall be considered a material breach of this Agreement.</p>

<p>You are solely responsible for all usage or activity on your account including, but not limited to, use of the account by any person who uses your Registration Information, with or without authorization, or who has access to any computer on which your account resides or is accessible.</p>
<p>If you have reason to believe that your account is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your Registration Information, you must promptly change the affected Registration Information by using the appropriate update mechanism on the Website, if available, or contact us at hello@forekast.com.</p>

<h2>Rules of Usage</h2>

<h3>Content</h3>

<p>“Content” means any information, text, graphics, or other materials uploaded, downloaded or appearing on the Website. Content includes all the event information you submit for publication on the Website (each set of such information is an "Event"). You retain ownership of all Content you submit, post, display, or otherwise make available on the Website.</p>

<p>We may not monitor or control the Content posted via the Website, and we do not take responsibility for such Content. we do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Website or endorse any opinions expressed via the Website. Any use or reliance on any Content or materials posted via the Website or obtained by you through the Website is at your own risk. You understand that by using the Website, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or postings that have been mislabeled or are otherwise deceptive. Under no circumstances will we be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Website or broadcast elsewhere.</p>

<p>You are responsible for your use of the Website, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and third parties partners. You understand that your Content will be published on the Website and may be republished, and if you do not have the right to submit Content for such use, it may subject you to liability. we will not be responsible or liable for any use of your Content by us in accordance with this Agreement.</p>

<h3>Use of the Website by You</h3>

<p>Age:  The Website is not intended for users under the age of 13, and we do not knowingly collect personally identifiable information from users under the age of 13. Such users are expressly prohibited from submitting their personally identifiable information to us, and from using portions of the Website for which registration is required, such as our comment areas; any information submitted by such users will not knowingly be used, posted, or retained by us.</p>

<p>Personal Use Only: Unless otherwise specified, the Website is intended for your personal use only. You may not authorize others to use the Website, and you are responsible for all use of the Website by you and by those you allow to use, or provide access to, the Website. You may not impersonate, imitate or pretend to be somebody else when using the Website.</p>

<p>Spam: You may not provide to or post on or through the Website any Content that constitutes junk mail, spam, advertising, and/or commercial offers. You may not repeat the same posting multiple times in a day or week.</p>

<p>Information Quality: You may not post Content or use the Website to create an impression that you know is incorrect, misleading, or deceptive. This includes creating false or misleading Events.</p>

<p>Offensive Content: You agree not to use any obscene, indecent, or offensive language or to provide to or post on or through the Website any Content that is defamatory, abusive, bullying, harassing, racist, hateful, or violent. You agree to refrain from ethnic slurs, religious intolerance, homophobia, and personal attacks when using the Website.</p>

<p>Sexually Suggestive Content: You further agree not to use any sexually suggestive language or to provide to or post on or through the Website any Content that is sexually suggestive or appeals to a prurient interest.</p>

<p>Unlawful Use: You may not provide to or post on or through the Website any Content that invades anyone's privacy, or facilitates or encourages conduct that would constitute a criminal offense, give rise to civil liability, or that otherwise violates any local, state, federal, national or international law or regulation (e.g., drug use, underage drinking).</p>

<p>Copyright: You are responsible for ensuring that any Content you provide to or post on the Website does not violate the copyright, trademark, trade secret or any other personal or proprietary rights of any third party or is provided or posted with the permission of the owner(s) of such rights.</p>

<p>Technical Interference: You agree not to disrupt, overwhelm, attack, modify, reverse engineer or interfere with the Website or its associated software, hardware and/or servers in any way, and you agree not to impede or interfere with others' use of the Website.</p>

<p>Access: Other than connecting to the Website’s servers by http requests using a Web browser, you may not attempt to gain access to the Website’s servers by any means - including, without limitation, by using administrator passwords or by masquerading as an administrator while using the Website or otherwise.</p>

<h3>Your License To The Website</h3>

<p>By submitting, posting or displaying Content on or through the Website, you grant us a royalty-free, perpetual, non-exclusive, unrestricted, worldwide license to use, reproduce, modify, adapt, translate, enhance, transmit, distribute, publicly perform, display, or sublicense any such communication in any medium (now in existence or hereinafter developed) and for any purpose, including commercial purposes, and to authorize others to do so. In addition, please be aware that information you disclose in publicly accessible portions of the Website will be available to all users of the Website, so you should be mindful of personal information and other content you may wish to post.</p>

<h3>Third-Party Links</h3>

<p>The Website may contain links to third-party services or resources. You acknowledge and agree that we are not responsible or liable for: (i) the availability or accuracy of such services or resources; or (ii) the content, products, or services on or available from such services or resources. Links to such services or resources do not imply any endorsement by us of such services or resources or the content, products, or services available from such services or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such services or resources.</p>

<h3>Editing and Deletions</h3>

<p>We reserve the right, but undertake no duty, to review, edit, move or delete any material provided for display or placed on the Website, in its sole discretion, without notice.</p>

<h3>Associated Press</h3>

<p>The following provision applies to all visitors to the Website (which shall include persons and representatives of legal entities, whether such representatives are persons or digital engines of any kind that crawl, index, scrape, copy, store or transmit digital content). By accessing the Website, you specifically acknowledge and agree that: (i) Associated Press text, photo, graphic, audio and/or video material shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium; (ii) no Associated Press materials nor any portion thereof may be stored in a computer except for personal and non-commercial use; (iii) the Associated Press will not be held liable for any delays, inaccuracies, errors or omissions therefrom or in the transmission or delivery of all or any part thereof or for any damages arising from any of the foregoing; (iv) the Associated Press is an intended third party beneficiary of these terms and conditions and it may exercise all rights and remedies available to it; and (v) the Associated Press reserves the right to audit possible unauthorized commercial use of Associated Press materials or any portion thereof at any time.</p>

<h3>Additional Rules</h3>

<p>We reserve the right to post, from time to time, additional rules of usage that apply to specific parts of the Website. Such additional rules will be posted in the relevant parts of the Website. Your continued use of the Website constitutes your agreement to comply with these additional rules.</p>

<h2>Indemnification</h2>

<p>You agree to defend, indemnify and hold harmless the Website and its licensees and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the Website, including any data or Content transmitted or received by you; (ii) your violation of any provision of this Agreement; or (iii) any other party’s access or use of the Website with your username and password or other appropriate security code.</p>

<h2>Copyright Policy</h2>

<p>We respect the intellectual property rights of others and expect users of the Website to do the same. we will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide our copyright agent with the following information in accordance with the Digital Millennium Copyright Act: (i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf; (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; (iv) your contact information, including your address, telephone number, and an email address; (v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</p>
<p>If you notice any alleged copyright infringement appearing on the Website, please contact us at hello@forekast.com.</p>

<p>We reserve the right to remove Content alleged to be infringing without prior notice and at our sole discretion. we will terminate a user’s account if the user is determined to be a repeat infringer. </p>

<h2>Forekast’s Rights</h2>

<p>All right, title, and interest in and to the Website (excluding Content provided by users) are and will remain the exclusive property of the Website and its licensors. The Website is protected by copyright, trademark, and other laws of both the United States and foreign countries. Nothing in this Agreement gives you a right to use the Website’s name or any of the Website’s trademarks, logos, domain names, and other distinctive brand features. Any feedback, comments, or suggestions you may provide regarding the Website are entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>

<h2>Termination Or Suspension Of Access To The Website</h2>

<p>We have the right to terminate and/or suspend your ability to access the Website or any portion thereof, for any or no reason, without notice.</p>

<h2>Jurisdiction</h2>

<p>We make no representation that materials on the Website are appropriate, available or legal in any particular location. Those who choose to access the Website do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable.</p>

<p>You agree that this Agreement, for all purposes, shall be governed and construed in accordance with the laws of the State of Delaware applicable to contracts to be wholly performed therein, and any action based on, relating to, or alleging a breach of this Agreement must be brought in a state or federal court in Delaware. In addition, both parties agree to submit to the exclusive personal jurisdiction and venue of such courts.</p>

<h2>Privacy</h2>

<p>We value your privacy. Please review our <a href="/privacy">Privacy Policy</a> to learn more about how we collect and use information about you via the Website. By using the Website you consent to the transfer of your information to the United States and/or other countries for storage, processing and use by the Website. </p>

<h2>Disclaimers</h2>

<p>Your access to and use of the Website or any Content is at your own risk. You understand and agree that the Website is provided to you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the foregoing, THE WEBSITE AND ITS PARTNERS DISCLAIM ANY WARRANTIES, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. we make no warranty and disclaim all responsibility and liability for the completeness, accuracy, availability, timeliness, security or reliability of the Website or any content thereon. we will not be responsible or liable for any harm to your computer system, loss of data, or other harm that results from your access to or use of the Website, or any Content. You also agree that we have no responsibility or liability for the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Website. We make no warranty that the Website will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from us or through the Website, will create any warranty not expressly made herein.</p>

<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE WEBSITE AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT FOREKAST HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>

<p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.</p>

<script type="text/javascript">
$(window).on("scroll", function() {
  var scroll = $(this).scrollTop()
  var navbar = $('.navbar-title')
  if (scroll > 100)
    navbar.fadeIn(300, function() {
      navbar.html('forekast terms of service')
    })
  else
    navbar.fadeOut(300)
});
</script>
