/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*general styles*/
$active: #75dbc7;
$activeText: #FFF;
body, h1, h2, h6, .h1, .h2, .h4, .h6, p, a, span, label, button {
  font-family:Helvetica, sans-serif;
}

h3, .h3, , h4, .h4, h5, .h5, .upvote-counter, .event-title, .event-upvotes {
  font-family:'Roboto Slab', Helvetica, sans-serif !important;
}

/* button styles */

.navbar .btn-focus,
.btn-focus {
  background: darken($active,10%);
  color: $activeText;
  border: 1px solid darken($active,10%);
}
.navbar .btn-alt,
.btn-alt {
  background: #EEE;
  border: 1px solid #EEE;
}

/* navbar */
body .navbar {
  background-color: #fff;
  border: 1px solid #F0F0F0;

  a.navbar-brand {
    display: block;
    overflow: hidden;
    text-indent: -999px;
    margin-left: 10px;
    background: url('/assets/logo.png') top left no-repeat;
    width: 220px;
  }
  ul.nav a {
    cursor: pointer;
    padding:5px 10px;
  }
  .navbar-right li {
    padding: 10px;
  }

  .filter-region {
    position: fixed;
    top: 50px;
    z-index: 1000;

    &.country {
      left: 230px;
    }
    &.subkast {
      left: 468px;
    }
  }

  .filter {
    background-color: #efefef;
    border: solid #cecece 1px;
    padding: 5px;

    select {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &.country-filter {
      width: 215px;
    }
  }
}
.omniauth-sign-up {
  border-left: 1px solid #CCC;
  ul { 
    list-style: none;
    margin: 0 0;
    padding: 0;
    float: left;
    li { 
      margin: 0 0;
      display: inline;
      width: 140px;
    }
  }
  height: 250px;
}
.profile{
  border:none;
  background:none;
  margin-right:130px;
  margin-top:10px;
  }

.dropdown-menu {
  border:none;
  box-shadow: none;
  -webkit-box-shadow:none;
  border-radius:0px;
  margin-top:10px;
  background-color:#f7f7f7;
}


/* home */

#home-page {
  margin-left: 50px;
}

.event-block {
  h3 {
    color:#444;
    margin-top:20px;
    margin-bottom:0px;
    font-size:20px;
  }

  .button-container {
    text-align: center;
  }

  .btn {
    width: 100%;
    height:30px;
    border-radius: 0px;
    margin: 0px auto;
    background-color:#f0f0f0;
  }

  .btn:hover {
    background-color: lighten($active, 10%);
  }
}

.add-new {
  border:1px solid #ccc;
  border-radius:20px;
  margin-top:10px;
}

.events {
  padding: 10px 0px 0px 0px;
}

.event {
  background-color: #f7f7f7;
  padding: 10px 15px 0px 15px;
  margin-bottom: 5px;
  font-size:16px;
  &:hover {
    background-color:#f1f1f1;
  }
  .upvote-container {
    height: 60px;
    margin-right: 14px;
    width: 14px;
    color: #666;
    text-align: center;
    cursor: pointer;
    &:hover {
    color: #111;
    }
    i {
      margin-left: 1px;
      &.icon-ok {
        font-size: 15px;
        color: green;
      }

      &.icon-remove {
        color: #EB3D00;
        font-size: 16px;
      }

      &.icon-caret-up {
        font-size: 16px;
      }
      cursor: pointer;
    }
    .upvote-counter {
      font-size: 18px;
    }
  }
  img {
    cursor: pointer;
  }
  .image-container {
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .meta-container {
    width: 500px;
    .event-meta {
      font-size: 14px;
      color: #999;
      font-weight:300;
    }
    a.event-name {
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.event-form.col-md-8 {
  float: none;
  margin: 0px auto;
}

/*sidebar*/

.sidebar {
  margin-top:20px;
  padding: 5px 15px;
  h5 {
    font-weight: bold;
    font-size:16px;
  }

  ol {
    padding-left: 22px;
  }
  #subkast-filter {
    padding-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
  }
  .sidebar-element {
    ul {
      margin-top: 0px;
      margin-left: 30px;
      li {
        margin-left:10px;
      }
    }
  }
  h5 {
    padding-top: 14px;
  }
  select {
    width: 80%;
  }
  .checkbox-container {
    padding-left: 20px;
  }
}

/* event management */
.image-trimmer {
  width: 300px;
}

.event-name {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.image-trimmer-input-container {
  position: relative;
  text-align: right;

  .form-row {
    margin-bottom: 10px;
  }

  .form-guide {
    margin-right: 32px;
  }

  input[type=file] {
    position:absolute;
    visibility: hidden;
  }

  .url-input {
    width: 100%;
  }
}

.time-display {
  color: #63893F;
}

.image-trimmer-dialog {
  position: relative;

  .body {
    background-color: transparent;
    height: 350px;
    .image-container {
      width: 100%;
      height: 280px;
    }

    .image-container {
      position: relative;
      overflow: hidden;
      cursor: move;

      img {
        position: absolute;
      }

      .image-trim {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        border-style: solid;
        border-color: rgba(125, 125, 125, 0.5);
        border-top-width: 42px;
        border-bottom-width: 43px;
        border-right-width: 20px;
        border-left-width: 20px;
        z-index: 2;
      }
    }

    .slider-container {
      margin-top: 15px;
      text-align: center;

      .slider-track {
        position: relative;
        margin: auto 3px;
        background-color: #ccc;
        display: inline-block;
        border: solid 1px #eeeeee;
        border-radius: 6px;
        width: 230px;
        height: 10px;

        .slider {
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 10px;
          background-color: white;
          border: solid 1px #cccccc;
          top: -6px;
          cursor: pointer;
        }
      }

      .slider-icon-container {
        display: inline-block;

      }
    }
  }
}

.event-page.col-md-8 {
  float: none;
  margin-left:30px;
  padding-top:25px;
}

.event-card {

  .event-image-container {
    height: 300px;
    max-width: 430px;
    margin: 0 auto;
    text-align: left;
  }

  .event-info-container {
    max-width: 430px;
    text-align: left;
    margin: 0 auto;
    background-color:#f7f7f7;
    padding:10px 20px;
  }

  .event-heading-container {
    margin-bottom: 6px;
  }

  .event-title {
    font-size: 24px;
    font-weight: bold;
  }

  .event-time-location {
    font-size: 17px;
    color:#888;

  }

  .event-description-container {
    margin-top:15px;
    .event-description {
      color:#666;
    }
  }

  .event-submitter {
    font-size: 12px;
    color: grey;
  }

  .event-tools-container {
    position: absolute;
    bottom: 0px;

    .event-upvotes {
      color: #48C9B0;
      font-weight: bold;
      margin-right: 30px;
      cursor: pointer;
      #upvotes-icon {
        width: 14px;
        display: inline-block;
      }
    }

    .event-tool-container {
      display: inline;

      .event-tool-popover {
        display: inline-block;
      }

      .event-tool {
        font-size:12px;
        color: #ccc;
        margin-right: 8px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .event-reminders-container {
    width: 240px;
  }

  .popover {
    background-color: #efefef;

    &.bottom .arrow {
      &:after {
        border-bottom-color: #efefef;
      }
    }

    .popover-title {
      background-color: #efefef;
      border-bottom: 0px;
      padding-bottom: 0px;
      font-weight: bold;
    }

    .popover-content {
      background-color: #efefef;
      padding-top: 0px;
    }

    .btn {
      border: solid #b9b9b9 1px;
    }
  }

  .event-likes-container {
    padding-top: 10px;
    height: 35px;
    width:100%;
    div {
      display: inline-block;
    }
  }
}
