/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

// Core variables and mixins
@import "bootstrap_variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@font-face {
  font-family: 'icomoon';
  src:url(asset-path('fonts/icomoon.eot'));
  src:url(asset-path('fonts/icomoon.eot')) format('embedded-opentype'),
    url(asset-path('fonts/icomoon.woff')) format('woff'),
    url(asset-path('fonts/icomoon.ttf')) format('truetype'),
    url(asset-path('fonts/icomoon.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-facebook:before {
  content: "\e602";
}

.icon-bar {
  font-family: 'Helvetica', 'arial', sans-serif;
  background: #000;
}

/* USERVOICE */
a.uservoice {
  display: block;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 80px;
  height: 80px;
  background: transparent url(asset-path('feedback.png')) no-repeat;
  opacity:0.8;
    &:hover {
    opacity:1;
    }
}



/* GENERAL STYLES */

$active: #75dbc7;
$activeText: #FFF;
body, h1, h2, h6, .h1, .h2, .h4, .h6, p, a, span, label, button {
  font-family:Helvetica, sans-serif;
}

h3, .h3, , h4, .h4, h5, .h5, .upvote-counter, .event-title, .event-upvotes, .col-lg-3, .btn-more {
  font-family:'Roboto Slab', Helvetica, sans-serif !important;
}


/* BUTTON STYLES */

.navbar .btn-focus,
.btn-focus {
  background: darken($active,10%);
  color: $activeText;
  border: 1px solid darken($active,10%);
  &:hover {
  background: darken($active,15%);
  color:$activeText;
  }
}
.navbar .btn-alt,
.btn-alt {
  background: #EEE;
  border: 1px solid #EEE;
  color:#666;
  &:hover{
  background:#e9e9e9;
  }
}

.btn-more {
  padding:0px;
}
.dropdown-toggle {
  border:none;
  border-radius:0;

    &:hover {
    background:none !important;
    border-bottom:1px dotted #888;
    }
}

/* NAVBAR */
.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

body .navbar {
  background-color: #626682;
  border-bottom: 1px dotted #F0F0F0;
  margin: 0;
  z-index: 1;

  a.navbar-brand {
    display: block;
    margin-left: 20px;
    width: 220px;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size:35px;
    letter-spacing:1px;
    text-transform:uppercase;
    color: #fff;
  }
  ul.nav a {
    cursor: pointer;
    padding:5px 10px;
  }
  .navbar-right li {
    padding: 10px;
  }

  .filter-region {
    position: fixed;
    top: 50px;
    z-index: 1000;

    &.country {
      left: 230px;
    }
    &.subkast {
      left: 468px;
    }
  }


.navbar-nav .active a.add-new,
.navbar-nav a.add-new {
  border:1px solid #ccc;
  color: #369DD6;
  margin: 10px 20px;

  &:hover{
  background:#fbfbfb;
  }
}

  .filter {
    background-color: #efefef;
    border: solid #cecece 1px;
    padding: 5px;

    select {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &.country-filter {
      width: 215px;
    }
  }
}

.navbar-subkast {

  padding: 5px 5px 5px 34px;
  background-color: #97b6c4;

  .subkast-header {
    color: #5c829b;
    font-size: 22px;
    font-weight: bold;
  }

  .subkast {
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
}

.omniauth-sign-up {
  border-left: 1px solid #CCC;
  ul {
    list-style: none;
    margin: 0 0;
    padding: 0;
    float: left;
    li {
      margin: 0 0;
      display: inline;
      width: 140px;
    }
  }
  height: 250px;
}
.profile{
  border:none;
  background:none;
  margin-right:130px;
  margin-top:10px;
  }


#home-page {
  margin-left:26px;
}

.event-block {
  h3 {
    color:#444;
    margin-top:20px;
    margin-bottom:0px;
    font-size:20px;
  }

  .button-container {
    text-align: center;
  }

  .btn {
    width: 100%;
    height:30px;
    border-radius: 0px;
    margin: 0px auto;
    background-color:#e7e7e7;
    font-weight:600;
    color:#666;
  }

  .btn:hover {
    background-color: lighten($active, 10%);
    color:#666;
    font-weight:600;
  }
}

#event-blocks-region {
    padding-left:0px;
    margin-left:-5px;
}

.events {
  padding: 10px 0px 0px 0px;
}

.event {
  background-color: #f7f7f7;
  padding: 10px 15px 0px 15px;
  margin-bottom: 5px;
  font-size:16px;
  &:hover {
    background-color:#efefef;
  }
  .upvote-container {
    height: 60px;
    margin-right: 14px;
    width: 14px;
    color: #666;
    text-align: center;
    cursor: pointer;
    &:hover {
    color: #111;
    }
    i {
      padding-top:5px;
      &.glyphicon-ok {
        font-size: 15px;
        color:$active;
      }

      &.glyphicon-remove {
        color: #EB3D00;
        font-size: 16px;
        line-height:0.9;
      }

      &.fa-caret-up {
        font-size: 16px;
      }
      cursor: pointer;
    }
    .upvote-counter {
      font-size: 18px;
      line-height:1;
    }
  }
  img {
    cursor: pointer;
  }
  .image-container {
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .meta-container {
    width: auto;
    .event-meta {
      font-size: 14px;
      color: #999;
      font-weight:300;
    }
    a.event-name {
      color: #049ADA;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.event-form .row {
  margin-bottom: 35px;
}

.event-form span.error {
  color: red;
}


/* SIDEBAR */

.sidebar {
  margin-top:20px;
  padding: 5px 15px;
  h5 {
    font-weight: bold;
    font-size:16px;
    line-height:1.3;
  }

  ol {
    padding-left: 22px;
  }
  
  #subkast-filter {
    h5 {
      padding-top: 14px;
    }
  }
  
  #country-filter {
    padding-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
    
    sup {
      font-size:10px;
      color:#428bca;
      cursor: pointer;
    }
    
    .tooltip {
      font-family: Helvetica, Arial, sans-serif !important;
      font-weight:normal !important;
    }
    
  }
  .sidebar-element {
    ul {
      margin-top: 0px;
      margin-left: 30px;
      li {
        margin-left:10px;
      }
    }
  }
  select {
    width: 80%;
  }
  .checkbox-container {
    padding-left: 20px;
  }
}


/* EVENT MANAGEMENT */

.image-trimmer {
  width: 300px;
}

.event-name {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
form.event_form {
  .form-group {
    min-height: 40px;
    .control-label {
      line-height: 30px;
    }
  }
  input, select {
    max-width: 400px;
  }
  .event_form_name {
    height: 50px;

    #name {
      display:inline;
    }

    #name + span {
      margin-left: 10px;
      font-weight: bold;
    }
  }
  .event_form_subkast {
    height: 50px;
  }
  .event_form_location {
    height: 100px;
    .col-sm-9 label {
      font-weight: normal;
    }
  }
  .event_form_date {
    height: 390px;
  }
  .event_form_date.is_all_day{
    height: 100px;
  }
  .event_form_image {
    height: 400px;
  }
  .event_form_description {
    height: 100px;
  }
  .form-group {
    border-bottom: 1px solid #E5E5E5;
  }
  .glyphicon-calendar {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
  }
  .date_selector {
    padding-left: 28px;
    max-width: 200px;
    float: left;
  }
  .date_picker_all_day {
    float: left;
    margin-left: 20px;
  }
  .col-sm-9 .col-sm-9 {
    padding-left: 0px;
    clear: left;
  }
  .date_picker_all_day_group,
  .date_picker_time_group,
  .date_picker_or {
    height: 30px;
    margin-top: 15px;
    float: left;
  }
  .date_picker_all_day_group {
    margin-left: 0px;
  }

  .date_picker_special_time_group {
    clear: left;
    h5.time_group_title {
      font-family: 'Helvetica', sans-serif !important;
      font-weight: bold;
      margin-top: 30px;
    }
    label.control-label {
      line-height: 1.3;
      .date_picker_time_format_description {
        font-weight: normal;
        padding-left: 18px;
      }
      .date_picker_time_format_example {
        font-weight: normal;
        font-size: 11px;
        color: #888;
        padding-left: 18px;
      }
    }
  }
  .event_form_date.is_all_day .date_picker_special_time_group {
    display: none;
  }
  .date_picker_time_group {
    padding-top: 5px;

    .timezone-display {
      color: #888;
      font-size: 12px;
    }
  }
  .timedisplay {
    margin-top:10px;
    .time-display {
      color: #666;
    }
    .time-display-value {
      font-weight: bold;
    }
  }
}
.image-trimmer-input-container {
  .image_trimmer_choose_toolbar {
    height: 50px;
    display: block;
    padding: 0;
    margin: 0;
    .form-group {
      max-width: 260px;
      float: left;
      .form-control {
        width: 196px;
        padding-left: 30px;
      }
    }
    .glyphicon-link {
      position: absolute;
      top: 10px;
      left: 24px;
      color: #666;
    }
    span.or {
      float: left;
      width: 20px;
      padding-top: 8px;
      text-align: center;
      padding-left: 8px;
    }
    .btn {
      float: left;
      margin-left: 10px;
    }
  }

  input[type=file] {
    position:absolute;
    visibility: hidden;
  }
}

.time-display {
  color: #63893F;
}

.image-trimmer-dialog {
  position: relative;

  .body {
    background-color: transparent;
    height: 350px;
    .image-container {
      width: 100%;
      height: 280px;
    }

    .image-container {
      position: relative;
      overflow: hidden;
      cursor: move;

      img {
        position: absolute;
      }

      .image-trim {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        border-style: solid;
        border-color: rgba(125, 125, 125, 0.5);
        border-top-width: 42px;
        border-bottom-width: 43px;
        border-right-width: 20px;
        border-left-width: 20px;
        z-index: 2;
      }
    }

    .slider-container {
      margin-top: 15px;
      text-align: center;

      .slider-track {
        position: relative;
        margin: auto 3px;
        background-color: #ccc;
        display: inline-block;
        border: solid 1px #eeeeee;
        border-radius: 6px;
        width: 230px;
        height: 10px;

        .slider {
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 10px;
          background-color: white;
          border: solid 1px #cccccc;
          top: -6px;
          cursor: pointer;
        }
      }

      .slider-icon-container {
        display: inline-block;

      }
    }
  }
}
@media (min-width:992px) { 
  body .navbar { 
    opacity:0.95;
  }
}
@media (max-width:991px) {
  form.event_form {
    .form-group {
      min-height: 40px;
      margin-bottom:0px;
      .control-label {
        line-height: 30px;
      }
    }
    input, select {
      max-width: 400px;
    }
    .event_form_name, .event_form_subkast, .event_form_location, .event_form_date, .event_form_date.is_all_day, .event_form_image, .event_form_description {
      height: auto;
      padding: 15px 0px;
    }
  }
}


/* EVENT PAGE */

.event-page.col-md-10 {
  float: none;
  margin-left:24px;
  padding-top:25px;
}

.event-card {

  .event-image-container {
    height: 340px;
    max-width: 430px;
    margin: 0 auto;
    text-align: left;
  }

  .event-image-container img {
    max-width: 100%;
  }

  .event-info-container {
    max-width: 400px;
    text-align: left;
    margin: 0 auto;
    background-color:#f7f7f7;
    padding:10px 20px;
  }

  .event-heading-container {
    margin-bottom: 6px;
  }

  .event-title {
    font-size: 24px;
    font-weight: bold;
    line-height:1.2;
  }

  .event-time-location {
    font-size: 17px;
    color:#888;
    line-height:2;
  }

  .event-description-container {
    margin:15px 0px;
    overflow: scroll;
    .event-description {
      color:#666;
    }
    p {
      margin: 0px;
    }
    .event-submitter {
      text-align: right;
    }
  }

  .event-submitter {
    font-size: 12px;
    color: #bbb;
  }

  .event-tools-container {
    bottom: 0px;

    .event-upvotes {
      font-weight: bold;
      margin-right: 30px;
      cursor: pointer;
      #upvotes-icon {
        color: #48C9B0;
        width: 14px;
        display: inline-block;
      }
    }

    .event-tool-container {
      display: inline;

      .event-tool-popover {
        display: inline-block;
      }

      .event-tool {
        &.btn {
          height: 18px;
          color: white;
          text-decoration: none;
        }

        font-size:12px;
        color: #ccc;
        margin-right: 8px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .event-reminders-container {
    width: 240px;
  }

  .popover {
    background-color: #efefef;

    &.bottom .arrow {
      &:after {
        border-bottom-color: #efefef;
      }
    }

    .popover-title {
      background-color: #efefef;
      border-bottom: 0px;
      padding-bottom: 0px;
      font-weight: bold;
    }

    .popover-content {
      background-color: #efefef;
      padding-top: 0px;
    }

    .btn {
      border: solid #b9b9b9 1px;
    }
  }

  .event-likes-container {
    padding-top: 10px;
    height: 35px;
    width:100%;
      display:block;
    div {
      display: inline-block;
    }
  }
}

/* COMMENTS */

#event-comments-region {
  .user-comment {
    margin-bottom: 18px;
    display: inline-block;
    float: left;
  }

  .up-vote {
    display: inline-block;
    float: left;
    margin-right: 8px;
    margin-top: 6px;
    color: #888888;

    i {
      cursor: pointer;
      display: block;
      height: 20px;
      font-size: 20px;
    }
  }

  .upvote-marked {
    color: green;
  }

  .downvote-marked {
    color: red;
  }

  .info {
    margin-bottom: 3px;
  }

  .username {
    font-size: 18px;
    color: #333333;
  }

  .reply {
    cursor: pointer;
  }

  .mute-delete {
    cursor: pointer;
    &.btn-xs {
      padding: 0px 5px;
      height: 19px;
    }
  }

  .reply-box {
    textarea {
      border-radius: 0px;
    }
  }

  .tools {
    display: inline-block;
    color: #aaaaaa;
    font-size: 13px;
  }

  .deleted .comment-text {
    font-style: italic;
  }

  .nested-comments {
    margin-left: 18px;
    padding-left: 10px;

    .comment-list {
      border-left: dotted 1px #dddddd;
      padding-left: 14px;
    }

    .reply-box {
      margin-top: 10px;
    }
  }

  [data-action="cancel"] {
    margin-right: 5px;
  }
}

#mobile-sidebar {
  padding: 10px 0px;
  margin-top: -10px;
  .filter {
    background: #FFF;
    border: none;
    padding: 0;
  }
  .sidebar {
    margin-top: 0px;
  }
  h5 {
    font-size: 13px;
    line-height: 13px;
    padding: 0 0px;
    margin: 0;
  }
  .country-filter-title {
    float: left;
  }
  .country-filter {
    width: auto;
  }
  .checkbox  {
    margin: 0px;
  }
  .form-control {
    margin-bottom: 5px;
  }
  #subkast-filter {
    border-bottom: none;
    margin-bottom: 0px;
  }
  display: none;
}
@media (max-width: 991px) {
  body .navbar ul.navbar-right {
    li {
      padding: 5px 0;
    }
  }
  .navbar {
    margin-bottom:20px;
    .checkbox-container {
      padding-bottom: 20px;
    }
  }
  .navbar-collapse.in {
    overflow: visible;
  }
  .navbar-collapse {
    max-height: auto;
  }
  #mobile-sidebar {
    display: block;
    .sidebar {
      padding-bottom: 10px;
    }
    #sidebar-event-list {
      display: none;
    }
  }
  #sidebar-region {
    display: none;
  }
}
.formlegend {
  border-top: 1px solid #666;
  margin-bottom: 20px;
  div {
    text-align: center;
    background: #FFF;
    width: auto;
    margin: 0 auto;
    margin-top: -10px;
    width: 150px;
    font-weight: bold;
  }
}
.center {
  text-align: center;
  p {
    margin-top: 20px;
  }
}
.omniauth-login {
  width: 100%;
  margin: 20px auto;
  padding-left: 0px;
  li {

    list-style: none;
    margin-bottom: 20px;
    a {
      font-weight: lighter;
      color: #FFF;
      display: block;
      font-size: 19px;
      height: 80px;
    }
    a span.txt {
      display: block;
      padding: 30px 0px;
      text-indent: 20px;
    }
    span.icon {
      font-size: 40px;
      display: block;
      float: left;
      border-right: 2px solid #FFF;
      margin: 10px;
      padding: 10px 20px 10px 20px;
    }
  }
  li.twitter a {
    background: #90C7E7;
  }
  li.twitter a:hover {
    background: darken(#90C7E7,5%);
    text-decoration: none;
  }
  li.facebook a {
    background: #7690BC;
    span.icon {
      padding-left: 15px;
      padding-right: 25px;
    }
  }
  li.facebook a:hover {
    background: darken(#7690BC,5%);
    text-decoration: none;
  }
}
