<div id="navbar-region" class="navbar"></div>
<div class="container" id="container">
  <div id="main-region" class="col-lg-9"></div>
  <div id="sidebar-region" class="col-lg-3"></div>
</div>
<script type="text/javascript">
  FK.App.start({
    countries: <%= raw Country.all.sort(order: 1).to_json() %>,
    events: [],
    links: [],
    user: <%= user_signed_in? ? raw(current_user.to_json()) : 'null' %>
  });
</script>
