<div id="navbar-region" class="navbar"></div>
<div class="container" id="container">
  <div id="main-region" class="col-lg-9"></div>
  <div id="sidebar-region" class="col-lg-3"></div>
</div>
<script type="text/javascript">
  FK.App._regionManager.close()
  FK.App.addRegions({
    navbarRegion: '#navbar-region',
    mainRegion: '#main-region',
    sidebarRegion: '#sidebar-region'
  })
  
  FK.App.mainRegion = FK.App._regionManager.get('mainRegion')
  FK.App.navbarRegion = FK.App._regionManager.get('navbarRegion')
  FK.App.sidebarRegion = FK.App._regionManager.get('sidebarRegion')

  FK.App.start({
    countries: <%= raw Country.all.sort(order: 1).to_json() %>,
    events: [],
    links: [],
    user: {username: 'jasmine', logged_in: 'true' }
  });
</script>
