<!DOCTYPE html>
<html>
<head>
  <title>Forekast</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="layout"></div>
<script type="text/javascript">
  $(function() { 
    init({
      countries: <%= raw Country.all.to_json() %>,
      events: []
    });
  });
</script>
</body>
</html>
