<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/head_section' %>
</head>
<body>
  <div id="navbar" class="navbar">
    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Forekast</a>
        <div class="nav-collapse collapse bs-navbar-collapse"></div>
      </div>
    </div>
  </div>
  <div id="container" class="container">
    <div id="main_body" class="col-lg-9">
      <%= yield %>
    </div>
    <div id="sidebar" class="col-lg-3">
    </div>
  </div>
</body>
</html>
