<!DOCTYPE html>
<html>
<head>
  <title>Forekast</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar" class="navbar">
    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
      <div class="container-fluid">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">Forekast</a>
        <div class="nav-collapse collapse bs-navbar-collapse">
        </div>
      </div>
    </div>
  </div>
  <div id="container" class="container">
    <div id="main_body" class="col-lg-9">
      <%= yield %>
    </div>
    <div id="sidebar" class="col-lg-3">
    </div>
  </div>
  <footer class="">
    <p>&copy;</p>
  </footer>
</body>
</html>
